// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body > div {
  overflow-x: hidden;
}

.tns-outer {
  position: relative;
  margin: 0 0 3rem;
  .tns-nav {
    position: absolute;
    right: 0;
    bottom: -25px;
    left: 0;
    text-align: center;
    z-index: 2;
    button {
      width: 20px;
      height: 2px;
      margin: 0 2px;
      padding: 0;
      background: #CCC;
      border: none;
      -webkit-appearance: none;
      &.tns-nav-active {
        background: #3490DC;
      }
    }
    & ~ button {
      display: none;
    }
  }
  .tns-controls {
    position: absolute;
    right: 0;
    top: 50%;
    left: 0;
    width: 100%;
    height: 27px;
    margin: -30px 0 0;
    z-index: 2;
    button {
      position: absolute;
      width: 40px;
      height: 40px;
      color: #212529;
      background:rgba(233,233,233,0.5);
      border: none;
      -webkit-appearance: none;
      i {
          position: relative;
          top: 1px;
      }
      &:first-of-type {
        left: 0;
        border-radius: 50%;
      }
      &:last-of-type {
        right: 0;
        border-radius: 50%;
      }
    }
    & ~ button {
      display: none;
    }
  }
}

.jumbotron {
  min-height: 700px;
  margin: 0;
  padding-top: 5rem;
  figure, 
  .jumbotron-banner-gradient {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
  }
  .jumbotron-banner-gradient {
    background: #000; 
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(253,187,45,0) 60%);
  }
  h1 {
    font-family: $font-open-sans;
    font-size: 7rem;
    letter-spacing: 1rem;
    text-shadow: 12px 5px 40px rgba(30, 30, 30, 0.5);
  }
  .lead {
    width: 600px;
  }
}

.stats {
  padding: 8rem 2rem;
  background: #000;
}
.planetary-stat {
  flex: 1 1 auto;
  font-size: 1.5rem;
  color: #FFF;
  span {
    font-size: 0.5em;
    font-weight: 300;
    text-transform: uppercase;
    span {
      font-size: inherit;
      color: #666;
    }
  }
}

.planets-slider {
    h5, p {
        text-shadow: 0 0 2px rgba(30, 30, 30, 0.5);
    }
    p {
        font-size: 0.85em;
        span {
            color: #d6d6d6;
        }
    }
    .tns-item {
        transform: scale(0.75);
        opacity: 0.6;
        transition: all 0.5s ease-in;
    }
    .tns-item:not(.tns-slide-active) + .tns-slide-active + .tns-slide-active { 
        transform: scale(1); 
        opacity: 1;
    }
}

.planet {
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto 15px;
  background:#000;
  border-radius: 50%;
}
.nav-item {
  min-width: 80px;
  .nav-link {
    padding: 0.5rem 1rem;
    overflow: hidden;
    .planet {
      width: 30px;
      height: 30px;
      margin: 0 auto 5px;
      ~ span {
        position: relative;
        width: 100%;
      }
    }
  }
}

.menu {
  position: fixed;
  top: 0;
  left: -88px;
  z-index: 1;
  transition: all 0.25s ease-in;
  &.open-menu {
    left: 0;
  }
  .menu-toggle {
    position: absolute;
    width: 30px; 
    height: 150px; 
    left: 100%; 
    top: 50px;
    padding: 0 1rem;
    border-radius: 0 5px 5px 0;
    span {
      position: relative;
      top: 30%;
      left: -50px;
      width: 100px;
      display: block;
      height: 24px;
      margin: 6px 0 0;
      transform: rotate(-90deg);
    }
  }
  .nav {
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
  }
}

.canvas {
  position: relative;
  transition: all 0.5s ease-in;
  &.open {
    transform: translate(45%, 0);
  }
  .off-canvas-btn {
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 1;
    display: none;
  }
}

.background-img-wrapper {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    img {
        width: 100%;
        height: 100%;
        max-width: 100%;
        object-fit: cover;
        opacity: 0.7;
    }
}

.system {
  list-style-type: none;
  display: flex;
  width: 100%;
  margin: 0;
  padding: 8rem 2rem 8rem 0;
  background: #000;
  justify-content: space-between;
  li {
    display: flex;
    flex-wrap: wrap;
    p {
      width: 100%;
      margin: 0;
      color: #FFF;
      line-height: 120%;
      text-align: center;
      span {
        display: block;
        font-size: 0.75em;
      }
      &:first-of-type {
        align-self: flex-start;
      }
      &:last-of-type {
        align-self: flex-end;
      }
    }
    div {
      width: 70px;
      height: 70px;
      margin: 0.75rem auto;
      border: 1px solid #FFF;
      border-radius: 50%;
      align-self: center;
    }
    &.sun {
      padding: 0 1rem;
      border-right: 2px solid #FF0;
      border-radius: 50%;
      p:first-of-type {
        align-self: center;
      }
    }
    &.mercury {
      div {
        width: 10px;
        height: 10px;
      }
    }
    &.venus, &.earth {
      div {
        width: 20px;
        height: 20px;
      }
    }
    &.mars {
      div {
        width: 13px;
        height: 13px;
      }
     
    }
    &.saturn {
      div {
        width: 60px;
        height: 60px;
      }
    }
    &.uranus, &.neptune {
      div {
        width: 30px;
        height: 30px;
      }
    }
  }
}

.overview, .features, .indepth {
  position: relative;
  margin: 0;
  padding: 8rem 0;
  background: #000;
  figure, .banner-gradient {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    z-index: 0;
  }
  .banner-gradient {
    background: #000; 
    background: linear-gradient(90deg, rgba(0,0,0,1) 40%, rgba(253,187,45,0) 66%);
  }
  h2 {
    margin: 0 0 2rem;
    font-family: $font-open-sans;
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: 0.75rem;
    text-transform: uppercase;
  }
  h2, p {
    color: #FFF;
  }
  hr {
    width: 66px;
    margin: 0 0 2rem;
    background: #999;
  }
  p {
    width: 50%;
  }
}
.features {
  hr {
    float: right;
    margin: 0 14px 0 0;
  }
  h2, h3 {
    margin: 2rem 0;
  }
  h2 {
    text-align: right;
  }
  h3 {
    color: #FFF;
    font-weight: 700;
    text-transform: uppercase;
  }
  p {
    float: right;
    width: 70%;
    margin: 0 14px 1rem 0;
    text-align: right;
  }
  .features-slider {
    margin: 6rem 0;
    .background {
      position: relative;
      .banner-gradient {
        background: linear-gradient(60deg, rgba(253,187,45,0) 40%, rgba(0,0,0,0.7) 66%);
      }
      p {
        float: none;
        width: 100%;
        margin: 0 0 1rem;
        text-align: left;
      }
      ul {
        list-style-type: none;
        margin: 0 0 6rem;
        padding: 0 0 0 6rem;
        li {
          position: relative;
          margin: 0 0 1rem;
          color: #FFF;
          &:last-of-type {
            margin: 0;
          }
          i {
            position: absolute;
            top: 4px;
            left: -25px;
          }
        }
      }
    }
  }
  .tns-outer {
    .tns-controls {
      button {
        &:first-of-type {
          left: 30px;
        }
        &:last-of-type {
          right: 30px;
        }
      }
    }
  }
}

.indepth {
  p {
    width: 100%;
  }
  .further-details {
    div {
      width: 200px;
      margin: 0 auto 1rem;
      p {
        color: #999;
      }
      &.chart {
        position: relative;
        p {
          position: absolute;
          top: 80px;
          left: 55px;
          color: #999;
          line-height: 1.5rem;
          span {
            display: block;
            font-size: 2rem;
            color: #FFF;
          }
        }
      }
    }
    .element-table {
      tr {
        &:first-of-type {
          background: #333;
          font-weight: 700;
        }
        td {
          padding: 1px 6px;
          color: #FFF;
          border-bottom: 1px solid #000;
          border-right: 1px solid #000;
          &:last-of-type {
            border-right: none;
          }
          .key {
            width: 100%;
            height: 3px;
          }
        }
      }
    }
  }
}

h1 {
    position: relative;
    z-index: 1;
}

.extra-padding {
  padding-left: 7rem;
  padding-right: 7rem;
}

@media only screen and (max-width:991px) {
}

@media only screen and (max-width:768px) {
    .planets-slider {
        .tns-item {
            transform: scale(1);
            opacity: 1;
        }
    }
    .jumbotron {
      min-height: inherit;
      h1 {
        font-size: 5rem;
        letter-spacing: 0.66rem;
      }
      .lead {
        width: 100%;
      }
    }
    .planetary-stat {
      flex: 0 0 50%;
    }
    .system {
      padding: 4rem 2rem;
      flex-wrap: wrap;
      li {
        margin: 0 2.5% 1rem;
        flex-basis: 20%;
        flex-grow: 1;
        &.sun {
          display: none;
        }
      }
    }
    .overview {
      padding: 4rem 1rem;
    }
}

@media only screen and (min-width:1200px) {
  .jumbotron {
    h1 {
      font-size: 12rem;
      letter-spacing: 1rem;
    }
  }
}

@media only screen and (max-width:768px) {
  .features {
    .features-slider {
      .background {
        .banner-gradient {
          background: linear-gradient(60deg, rgba(0,0,0,0.33) 40%, rgba(0,0,0,0.85) 66%);
        }
      }
    }
  }
}

@media only screen and (max-width:600px) {
   .jumbotron {
      h1 {
        font-size: 4.5rem;
        letter-spacing: 0.5rem;
      }
    }
   .planetary-stat {
      flex: 0 0 100%;
      font-size: 1.25rem;
    }
}

@media only screen and (max-width:530px), screen and (max-height:530px) {
  .menu, .menu.open-menu {
    position: absolute;
    left: 0;
    z-index: 0;
    .nav {
      flex-direction: row;
      flex-grow: inherit;
      .nav-item {
        width: 100%;
        .nav-link {
          .planet {
            float: left;
            margin: 0 10px 0 0;
            ~ span {
              top: 4px;
              width: inherit;
            }
          }
        }
      }
    }
  }
  .canvas {
    .off-canvas-btn {
      display: block;
    }
  }
  .extra-padding {
    padding-left: inherit;
    padding-right: inherit;
  }
  .planetary-stat {
      flex: 0 0 50%;
    }
}

@media only screen and (max-width:576px) {
  .overview {
    .banner-gradient {
      background: linear-gradient(90deg, rgba(0,0,0,1) 20%, rgba(253,187,45,0) 95%);
    }
    h2 {
      font-size: 2rem;
    }
    p {
      width: 75%;
    }
  }
  .features {
    h2 {
      font-size: 2rem;
    }
    h3 {
      font-size: 1.25rem;
    }
  }
}

@media only screen and (max-width:420px) {
  .jumbotron {
    h1 {
      font-size: 3rem;
    }
  }
}